/* Cambiamos los estilos predeterminados */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Vamos a usar variables con root */
:root {
    --while: #fafafb;
    --purple: #9a67ea;
    --blue-light: #04d4c3;
    --blue-dark: #2a73c2;
    --green: #2c7b90;

}

