/* Cambiamos los estilos predeterminados */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Vamos a usar variables con root */
:root {
    --while: #fafafb;
    --purple: #9a67ea;
    --blue-light: #04d4c3;
    --blue-dark: #2a73c2;
    --green: #2c7b90;

}

body {
    background: linear-gradient(to bottom, var(--purple), var(--blue-light));
    height: 100vh;
    font-family: 'Prompt', sans-serif;
}

/* Contenedor principal */
.container {
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
}

/* Perfil */
.perfil h1 {
    color: var(--while)
}

.perfil span{
    color: var(--while);
    /* Para separar las letras */
    letter-spacing: 1px;
}

#fecha {
    color: var(--while);
    padding: 50px 0px 5px 0px;
}